
.experience-section{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.course{
  display: flex;
  flex-direction: row;
  height: 30%;
  gap: 15px;
  padding: 5px;
  margin: 0px;
  font-family: Poppins, Roboto;
}

.course-header{
  font-size: 14px;
  text-align: left;
  text-align: top;
  flex: 0 0 118px;
  margin: 0px;
  color: rgba(232, 230, 227);
  font-family: Poppins, Roboto;
}

.info-section{
  display: flex;
  flex-direction: column;
  margin: 0px;
  gap: 8px;
  font-family: Poppins, Roboto;
}
.info{
  text-align: left;
  margin: 0px;
  flex: 1;
}

.course:hover{
  background-color: rgba(211, 211, 211, .2);
  border-radius: 5px;
  color: rgba(232, 230, 227, 0.8);
}

.skills-section{
  display: flex;
  flex-direction: row;
  gap: 6px;
  font-family: Poppins, Roboto;
}

.skill{
  padding: 3px 7px;
  border-radius: 20px;
  color: #1ddaca;
  background-color: rgba(110, 251, 239, 0.3);
}