
.header {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 0;
  padding: 96px 0px;
  width: 30%;
  height: 500px;
  justify-content: space-between;
  font-family: Poppins, Roboto;

  position: sticky;
  top: 0;
  z-index: 100;
}

@media (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: row; /* Align items horizontally */
    width: 100%; /* Full width at the top */
    height: auto; /* Let height adjust dynamically */
    padding: 0px; /* Reduce padding */
    margin: 0px;
    position: relative; /* Ensure it flows naturally in the layout */
    z-index: 1000; /* Ensure it stays above other content */
  }

}

.title-section {
  display: flex;
  flex-direction: column;
}

.name{
  color: rgba(232, 230, 227);
  font-size: 50px;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 600;
}

.title{
  margin-top: 0;
  margin-top: 0;

  font-size: 20px;
  color: rgba(232, 230, 227);
  font-weight: 300;

}


.buttons-section{
  align-items: flex-start;
  margin: 0px;
  padding: 0px;
}

.github-logo, .linkedin-logo, .contact-icon {
  width: 20px; /* Adjust size */
  height: 20px;
  fill: rgba(232, 230, 227, 0.8);
  transition: fill 0.3s ease;
  margin-right: 10px;
}

.github-logo:hover, .linkedin-logo:hover {
  fill:  rgba(232, 230, 227, 0.8);
}

.github-button, .linkedin-button, .contact-button {
  background: transparent; /* Transparent button background */
  border: none; /* Remove button border */
  cursor: pointer;
  padding: 0;
}

.github-button a, .linkedin-button a, .contact-button a {
  text-decoration: none;
}


