html {
  scroll-behavior: smooth; /* Smooth transition between sections */
}

html, body {
  height: 100%;
  margin: 0;
  background-color: rgb(1, 23, 9); 
  font-family: Poppins, Roboto;
}

/* General styles */
body {
  margin: 0;
  min-height: 100vh; /* Ensures content can grow vertically */
  overflow-x: hidden; /* Prevents horizontal scrollbars, but allows vertical scrolling */
}

#cursor-glow {
  position: absolute;
  width: calc(50px + 26vw);
  height: calc(50px + 26vw);  
  border-radius: 50%;
  pointer-events: none;
  transform: translate3d(-50%, -50%, 0);
  transition: transform 0.1s ease-out, filter 0.2s ease-out;
  z-index: 9999;

  /* Background with HSLA gradient and noise overlay */
  background: radial-gradient(
    circle,
    hsla(160, 100%, 70%, 0.2) 0%,    /* Bright center */
    hsla(160, 100%, 65%, 0.15) 10%, 
    hsla(160, 100%, 60%, 0.12) 20%, 
    hsla(160, 100%, 55%, 0.10) 30%, 
    hsla(160, 100%, 50%, 0.08) 40%, 
    hsla(160, 100%, 45%, 0.06) 50%, 
    hsla(160, 100%, 40%, 0.04) 60%, 
    hsla(160, 100%, 35%, 0.02) 75%, 
    hsla(160, 100%, 30%, 0) 100%    /* Transparent edges */
  ),
  url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10"><filter id="noise"><feTurbulence type="fractalNoise" baseFrequency="0.8" numOctaves="3" stitchTiles="stitch"/></filter><rect width="100%" height="100%" filter="url(#noise)" opacity="0.05"/></svg>');

  /* High blur for smooth diffusion */
  filter: blur(150px);

  /* Pre-optimization for smoother performance */
  will-change: transform, filter;
}




#cursor-glow::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10"><filter id="noise"><feTurbulence type="fractalNoise" baseFrequency="0.8" numOctaves="3" stitchTiles="stitch"/></filter><rect width="100%" height="100%" filter="url(#noise)" opacity="0.03"/></svg>');
  z-index: -1;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 100px;
  margin: 0px 116px;
  padding: 0px 48px;
  /* Removed background color here */
  color: rgba(232, 230, 227, 0.8); /* 80% opacity */
  font-family: Poppins, Roboto;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 53%;
  padding: 96px 0px;
  margin: 0px;
  font-family: Poppins, Roboto;
  gap: 150px;
}

a:focus {
  outline: 2px solid rgba(232, 230, 227, 0.8); /* Visible focus outline */
  outline-offset: 4px; /* Space between the outline and element */
}
