html, body {
  height: 100%;
  margin: 0;
  background-color: #011709; /* Background color applied to the whole viewport */
  font-family: Poppins, Roboto;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 100px;
  margin: 0px 320px;
  padding: 0px 50px;
  /* Removed background color here */
  color: rgba(232, 230, 227, 0.8); /* 80% opacity */
  font-family: Poppins, Roboto;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55%;
  padding: 96px 0px;
  margin: 0px;
  font-family: Poppins, Roboto;
  gap: 150px;
}

a:focus {
  outline: 2px solid rgba(232, 230, 227, 0.8); /* Visible focus outline */
  outline-offset: 4px; /* Space between the outline and element */
}
